.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: space-between;
}

.activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.activeItem {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.activeContainer img {
  padding-left: 10px;
  width: 20px;
  height: 20px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

.typingContainer {
  margin-top: 20px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.typingText {
  font-style: italic;
  color: #b3d9ff;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}
